:root {
    --buff: #ffc788;
    --seal-brown: #532800;
    --coyote: #866641;
}

.chess {
    background-color: var(--seal-brown);
}

.square.even {
    background-color: var(--buff);
}

.square.odd {
    background-color: var(--coyote);
}

.captured {
    background-color: var(--coyote);
    border: 5px solid var(--seal-brown);
}

img {
    user-select: none;
}